* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

:root {
    --bg: #070707;
    --card: #121212;
    --text: #fff;
    --secondary: #9c9c9c;
    --cyan: #00e5ff;
    --purple: #865dff;
}

html {
    scroll-behavior: smooth
}

body {
    background: var(--bg);
    color: var(--text);
    font-family: Inter, sans-serif;
    overflow-x: hidden;
}

.noise {
    position: fixed;
    inset: 0;
    pointer-events: none;
    opacity: .05;
    z-index: 999;
    background-image:
        radial-gradient(circle at 20% 20%, rgba(255, 255, 255, .08) 1px, transparent 1px),
        radial-gradient(circle at 80% 60%, rgba(255, 255, 255, .08) 1px, transparent 1px),
        radial-gradient(circle at 40% 80%, rgba(255, 255, 255, .08) 1px, transparent 1px);
    background-size: 8px 8px;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 25px 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(16px);
    z-index: 100;
}

.logo {
    font: 700 28px "Space Grotesk", sans-serif;
    letter-spacing: 3px;
}

nav ul {
    display: flex;
    gap: 40px;
    list-style: none;
}

nav a {
    color: #fff;
    text-decoration: none;
    transition: .3s;
}

nav a:hover {
    color: var(--cyan);
}

nav a.active {
    color: var(--cyan);
}

nav a.active:after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background: var(--cyan);
    margin-top: 5px;
}

/* HERO */

.hero {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 8%;
    position: relative;
    overflow: hidden;
}

.hero-content {
    width: 50%;
    z-index: 2;
}

.eyebrow {
    color: var(--cyan);
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-bottom: 20px;
    font-size: 14px;
}

.hero h1 {
    font: 700 clamp(60px, 8vw, 110px) "Space Grotesk", sans-serif;
    line-height: .9;
    margin-bottom: 30px;
}

.subtitle {
    max-width: 500px;
    font-size: 20px;
    line-height: 1.7;
    color: var(--secondary);
    margin-bottom: 40px;
}

.button {
    display: inline-block;
    padding: 18px 40px;
    border-radius: 50px;
    background: linear-gradient(90deg, var(--cyan), var(--purple));
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    transition: .35s;
}

.button:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 40px rgba(0, 229, 255, .35);
}

#three-container {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#three-container:after {
    content: "";
    position: absolute;
    inset: 0;
    background: radial-gradient(circle, transparent 20%, #070707 70%);
    pointer-events: none;
}

canvas {
    display: block;
    width: 100% !important;
    height: 100% !important;
}

#loader {
    position: fixed;
    inset: 0;
    background: #050505;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99999;
}

.loader-text {
    font: 700 70px "Space Grotesk";
    letter-spacing: 8px;
}

.cursor {
    position: fixed;
    width: 35px;
    height: 35px;
    border: 1px solid var(--cyan);
    border-radius: 50%;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: width .3s, height .3s, border .3s;
    z-index: 10000;
}

.cursor-dot {
    position: fixed;
    width: 8px;
    height: 8px;
    background: var(--cyan);
    border-radius: 50%;
    pointer-events: none;
    transform: translate(-50%, -50%);
    z-index: 10001;
}

.spotlight {
    position: fixed;
    width: 400px;
    height: 400px;
    background: radial-gradient(circle, rgba(0, 229, 255, .18), transparent 70%);
    pointer-events: none;
    transform: translate(-50%, -50%);
    filter: blur(50px);
    z-index: -1;
}

.scroll-indicator {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    width: 28px;
    height: 48px;
    border: 2px solid #777;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    padding-top: 8px;
}

.scroll-indicator span {
    width: 6px;
    height: 6px;
    background: #fff;
    border-radius: 50%;
    animation: scroll 1.6s infinite;
}

@keyframes scroll {
    0% {
        transform: translateY(0);
        opacity: 1
    }

    100% {
        transform: translateY(18px);
        opacity: 0
    }
}

/* HERO END */

.projects {
    padding: 150px 8%;
    background: #090909
}

section {
    scroll-margin-top: 5%;
}

.section-title p {
    color: var(--cyan);
    text-transform: uppercase;
    letter-spacing: 4px
}

.section-title h2 {
    font: 700 80px "Space Grotesk";
    margin: 20px 0 80px
}

.project-list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 15em 30px
}

.project-card {
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    gap: 60px;
    align-items: center
}

.project-image {
    height: auto;
    /* background: #111; */
    border-radius: 25px;
    overflow: hidden;
    padding: 1em;
}

.project-image img {
    width: auto;
    height: 100%;
    object-fit: contain;
    display: block;
    transition: transform .7s ease;
    margin: 0 auto;
    border-radius: 1em;

    filter: drop-shadow(0px 0px 6px #fff);
}

.project-card:hover .project-image img {
    transform: scale(1.03)
}

.project-info h3 {
    font: 700 50px "Space Grotesk";
    margin-bottom: 20px
}

.project-info p {
    color: var(--secondary);
    line-height: 1.8;
    font-size: 18px;
    margin-bottom: 30px
}

.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 35px
}

.tags span {
    padding: 8px 18px;
    border: 1px solid #333;
    border-radius: 30px;
    font-size: 14px
}

.project-info a {
    color: var(--cyan);
    text-decoration: none;
    font-weight: 600
}

.project-card {
    perspective: 1000px
}

/* PROJECTS END */

/* ARCHIVE */
.archive {
    padding: 160px 8%;
    background: #070707
}

.archive .section-title {
    margin-bottom: 100px
}

.archive-list {
    border-top: 1px solid #292929
}

.archive-group {
    display: grid;
    grid-template-columns: 220px 1fr;
    gap: 50px;
    padding: 45px 0;
    border-bottom: 1px solid #292929;
    transition: .35s
}

.archive-group:hover {
    padding-left: 15px
}

.archive-group:hover .archive-heading h3 {
    color: var(--cyan)
}

.archive-heading {
    display: flex;
    gap: 25px;
    align-items: flex-start
}

.archive-heading>span {
    font-size: 12px;
    color: var(--cyan);
    letter-spacing: 3px
}

.archive-heading h3 {
    font: 500 28px "Space Grotesk"
}

.archive-items {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px
}

.archive-items span {
    border: 1px solid #292929;
    border-radius: 30px;
    padding: 10px 16px;
    color: #888;
    font-size: 13px;
    transition: .3s
}

.archive-items span:hover {
    color: #fff;
    border-color: var(--cyan);
    background: rgba(0, 229, 255, .04)
}

/* ARCHIVE END */

/* CASE STUDY */
.case-study {
    position: fixed;
    inset: 0;
    background: #070707;
    z-index: 99999;
    overflow-y: auto;
    opacity: 0;
    visibility: hidden;
    transition: .4s;
    overscroll-behavior: contain
}

.case-study.open {
    opacity: 1;
    visibility: visible
}

.case-study-inner {
    max-width: 1200px;
    margin: auto;
    padding: 100px 6%
}

.case-close {
    position: fixed;
    top: 30px;
    right: 40px;
    width: 50px;
    height: 50px;
    border: 1px solid #333;
    border-radius: 50%;
    background: #111;
    color: #fff;
    font-size: 30px;
    line-height: 1;
    cursor: pointer;
    z-index: 2;
    transition: .3s
}

.case-close:hover {
    border-color: var(--cyan);
    color: var(--cyan);
    transform: rotate(90deg)
}

.case-header {
    max-width: 900px;
    margin-bottom: 70px
}

.case-type {
    color: var(--cyan);
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 13px
}

.case-header h2 {
    font: 700 clamp(55px, 8vw, 110px)/.9 "Space Grotesk";
    margin: 25px 0
}

.case-header>p:last-child {
    max-width: 700px;
    color: var(--secondary);
    font-size: 20px;
    line-height: 1.7
}

.case-media {
    width: 100%;
    height: 30vw;
    /* background: #111;
    border-radius: 25px; */
    overflow: hidden;
    margin-bottom: 70px;

    padding: 1em;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
}

.case-media img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    filter: drop-shadow(0px 0px 6px #fff);
}

.case-slider {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    cursor: grab;
    user-select: none;
    touch-action: pan-y;

    display: flex;
    align-items: center;
}

.case-slider.dragging {
    cursor: grabbing;
}

.case-slider-track {
    display: flex;
    width: 100%;
    transition: transform 0.4s ease;
}

.case-slide {
    flex: 0 0 100%;
    width: 100%;
    display: flex;
    align-items: center;
}

.case-slide img {
    display: block;
    width: auto;
    height: auto;
    pointer-events: none;
    margin: 0 auto;
}

.case-slide .case-image-webp,
.case-slide .case-image-gif {
    width: 50%;
    height: 55%;
    object-fit: contain;
}

.case-slider-counter {
    position: absolute;
    right: 20px;
    bottom: 20px;
    z-index: 5;

    padding: 6px 10px;

    font-size: 12px;
    line-height: 1;

    background: rgba(0, 0, 0, 0.6);
    color: #fff;
}

.case-media iframe {
    display: block;
    width: 100%;
    aspect-ratio: 16 / 9;
    max-height: 80vh;
    margin: 0 auto;
    border: 0;
}

.case-meta {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5em;
    border-top: 1px solid #292929;
    border-bottom: 1px solid #292929;
    padding: 40px 0
}

.case-meta span,
.case-content span {
    color: #666;
    font-size: 12px;
    letter-spacing: 3px
}

.case-meta h3 {
    font: 500 22px "Space Grotesk";
    margin-top: 15px
}

.case-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5em;
    padding: 80px 0
}

.case-content p {
    color: var(--secondary);
    font-size: 17px;
    line-height: 1.9;
    margin-top: 20px
}

body.case-open {
    overflow: hidden
}

/* CASE STUDY END */

/* ABOUT */

.about {
    padding: 160px 8% 120px;
    background: #070707
}

.about-title p,
.section-title p {
    color: var(--cyan);
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 14px
}

.about-title h2,
.section-title h2 {
    font: 700 clamp(55px, 8vw, 100px)/.9 "Space Grotesk";
    margin: 20px 0 80px
}

.about-content {
    display: grid;
    grid-template-columns: 1.1fr .9fr;
    gap: 100px;
    align-items: center
}

.about-text {
    max-width: 700px
}

.about-text p {
    font-size: 20px;
    line-height: 1.8;
    color: var(--secondary);
    margin-bottom: 25px
}

.stats {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px
}

.stats div {
    padding: 30px 25px;
    background: #101010;
    border: 1px solid #222;
    border-radius: 20px;
    transition: .4s
}

.stats div:hover {
    transform: translateY(-8px);
    border-color: var(--cyan)
}

.stats h3 {
    font: 600 clamp(35px, 4vw, 55px)/1 "Space Grotesk";
    margin-bottom: 12px
}

.stats p {
    font-size: 13px;
    color: #777;
    text-transform: uppercase;
    letter-spacing: 1px
}

.skills-wrapper {
    overflow: hidden;
    margin: 5% -8% 0;
    padding: 0 8%;
    cursor: grab
}

.skills-wrapper.dragging {
    cursor: grabbing
}

.skills {
    display: flex;
    gap: 25px;
    width: max-content;
    user-select: none;
    padding-top: 1.5em
}

.skill-card {
    width: 320px;
    flex-shrink: 0;
    background: #111;
    padding: 40px;
    border-radius: 25px;
    border: 1px solid #222;
    transition: .4s;
    position: relative;
    overflow: hidden
}

.skill-card:before {
    content: "";
    position: absolute;
    width: 150px;
    height: 150px;
    background: radial-gradient(circle, var(--cyan), transparent 70%);
    top: -80px;
    right: -80px;
    opacity: .15;
    pointer-events: none
}

.skill-card:hover {
    transform: translateY(-10px);
    border-color: var(--cyan)
}

.skill-icon {
    color: var(--cyan);
    font-size: 14px;
    letter-spacing: 3px;
    margin-bottom: 30px
}

.skill-card h3 {
    font: 600 30px "Space Grotesk";
    margin-bottom: 25px
}

.skill-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px
}

.skill-list span {
    padding: 8px 15px;
    border-radius: 30px;
    border: 1px solid #333;
    font-size: 14px;
    color: #bbb;
    transition: .3s
}

.skill-list span:hover {
    color: #fff;
    border-color: var(--cyan);
    background: rgba(0, 229, 255, .08)
}

/* ABOUT END */

/* EXPERIENCE */

.experience {
    padding: 160px 8%;
    background: #0a0a0a
}

.experience .section-title {
    margin-bottom: 100px
}

.experience .section-title h2 {
    margin-bottom: 0
}

.experience-list {
    border-top: 1px solid #292929
}

.experience-item {
    display: grid;
    grid-template-columns: 80px 1fr;
    gap: 50px;
    padding: 55px 0;
    border-bottom: 1px solid #292929;
    transition: .4s
}

.experience-item:first-child {
    border-bottom: 1px solid var(--cyan)
}

.experience-item:first-child .experience-heading h3 {
    color: #fff
}

.experience-item:first-child .experience-date {
    color: var(--cyan)
}

.experience-number {
    color: var(--cyan);
    font-size: 13px;
    letter-spacing: 3px;
    padding-top: 8px
}

.experience-main {
    max-width: 1000px
}

.experience-heading {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 30px
}

.experience-role {
    color: var(--cyan);
    font-size: 12px;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-bottom: 15px
}

.experience-heading h3 {
    font: 500 clamp(28px, 3vw, 42px)/1.1 "Space Grotesk"
}

.experience-date {
    font-size: 12px;
    letter-spacing: 2px;
    color: #666;
    white-space: nowrap;
    padding-top: 8px
}

.experience-main>p {
    max-width: 800px;
    color: var(--secondary);
    font-size: 17px;
    line-height: 1.8;
    margin: 25px 0
}

.experience-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 8px
}

.experience-tags span {
    border: 1px solid #292929;
    border-radius: 30px;
    padding: 7px 14px;
    color: #888;
    font-size: 12px;
    transition: .3s
}

.experience-tags span:hover {
    color: #fff;
    border-color: var(--cyan)
}

.experience-item:hover {
    padding-left: 20px
}

.experience-item:hover .experience-heading h3 {
    color: var(--cyan)
}

/* EXPERIENCE END */

/* CONTACT */

.contact {
    padding: 180px 8%;
    text-align: center;
    background: #090909
}

.contact-inner p {
    color: var(--cyan);
    letter-spacing: 4px;
    text-transform: uppercase
}

.contact h2 {
    font: 700 clamp(55px, 8vw, 110px) "Space Grotesk";
    line-height: .95;
    margin: 40px 0
}

.contact-btn {
    display: inline-block;
    padding: 22px 50px;
    border-radius: 50px;
    background: linear-gradient(90deg, var(--cyan), var(--purple));
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    transition: .4s
}

.contact-btn:hover {
    transform: translateY(-8px);
    box-shadow: 0 20px 50px rgba(0, 229, 255, .35)
}

.socials {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 80px
}

.socials a {
    color: #fff;
    text-decoration: none;
    transition: .3s
}

.socials a:hover {
    color: var(--cyan)
}

/* CONTACT END */

/* FOOTER */

footer {
    padding: 40px 8%;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #222;
    color: #777;
    font-size: 14px
}

/* FOOTER END */

@media(max-width:1000px) {
    .about-content {
        grid-template-columns: 1fr;
        gap: 60px
    }

    .stats {
        max-width: 700px
    }

    .experience .section-title {
        display: block
    }

    .experience .section-title h2 {
        margin-bottom: 70px
    }

    .case-media {
        height: 50vw;
    }
}

@media(max-width:900px) {
    nav {
        padding: 20px
    }

    nav ul {
        display: none
    }

    .hero {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding: 120px 25px 50px;
    }

    .hero-content {
        width: 100%;
    }

    .subtitle {
        margin: auto auto 40px;
    }

    #three-container {
        position: relative;
        width: 100%;
        height: 45vh;
        margin-top: 40px;
    }

    .section-title h2 {
        font-size: 50px
    }

    .project-card {
        grid-template-columns: 1fr
    }

    .project-image {
        height: 300px
    }

    .project-info h3 {
        font-size: 38px
    }

    .about-title h2 {
        font-size: 50px
    }

    .about-content {
        grid-template-columns: 1fr
    }

    .stats {
        flex-direction: column
    }

    .socials {
        flex-direction: column;
        gap: 20px
    }

    footer {
        flex-direction: column;
        gap: 15px;
        text-align: center
    }
}

@media(max-width:700px) {

    .loader-text {
        scale: .5;
    }

    .spotlight,
    .cursor,
    .cursor-dot {
        display: none;
    }

    #three-container {
        position: absolute;
        width: 100%;
        height: 100%;
        margin-top: 40px;
    }

    .about {
        padding: 110px 6%
    }

    .about-title h2,
    .section-title h2 {
        font-size: 55px;
        margin-bottom: 60px
    }

    .about-text p {
        font-size: 17px
    }

    .stats {
        grid-template-columns: repeat(2, 1fr);
    }

    .stats div {
        padding: 25px
    }

    .project-list {
        grid-template-columns: 1fr;
        gap: 5em
    }

    .project-image {
        height: auto
    }

    .project-image img {
        width: 100%;
    }

    .archive {
        padding: 110px 6%
    }

    .archive .section-title {
        margin-bottom: 70px
    }

    .archive-group {
        grid-template-columns: 1fr;
        gap: 25px;
        padding: 35px 0
    }

    .archive-heading h3 {
        font-size: 24px
    }

    .skills-wrapper {
        margin-top: 80px;
        margin-left: -6%;
        margin-right: -6%;
        padding: 0 6%
    }

    .skill-card {
        width: 290px;
        padding: 30px
    }

    .experience {
        padding: 110px 6%
    }

    .experience .section-title {
        margin-bottom: 70px
    }

    .experience-item {
        grid-template-columns: 40px 1fr;
        gap: 15px;
        padding: 40px 0
    }

    .experience-heading {
        display: block
    }

    .experience-heading h3 {
        font-size: 27px
    }

    .experience-date {
        display: block;
        margin-top: 15px
    }

    .experience-main>p {
        font-size: 15px;
        line-height: 1.7
    }

    .experience-item:hover {
        padding-left: 0
    }

    .case-study-inner {
        padding: 90px 6% 60px
    }

    .case-close {
        top: 20px;
        right: 20px;
        width: 45px;
        height: 45px;
        font-size: 26px
    }

    .case-header {
        margin-bottom: 50px
    }

    .case-header h2 {
        font-size: 55px
    }

    .case-header>p:last-child {
        font-size: 16px
    }

    .case-media {
        height: auto;
        margin-bottom: 50px;
        flex-direction: column;
        overflow: visible;
    }

    .case-meta,
    .case-content {
        grid-template-columns: 1fr;
    }

    .case-content {
        padding: 50px 0
    }

    .case-media iframe {
        aspect-ratio: 9 / 16;
    }
}